# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Models (too large for GitHub)
models/*.pkl

# Data (too large for GitHub)
data/*.csv
data/*.zip

# Outputs
outputs/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
